* {
  padding: 0;
  margin: 0;
}

@media (max-width: 1225px) {
  .col-lg-2 {
    visibility: hidden;
  }

  .col-lg-10 {
    width: 100%;
  }

  .offcanvas-start {
    width: 100%;
  }

  .navbar-toggler {
    display: block !important;
  }

  .offcanvas-body {
    display: block;
  }


  .offcanvas-start .navbar-nav {
    visibility: visible;
  }
}

@media (max-width: 577px){
  .title-top {
    visibility: hidden;
  }
}


.navbar-nav li {
  transition: color 0.3s ease-in-out;
}

.navbar-nav li:hover {
  color: #007bff;  
  opacity: 0.8;  
}


.navbar-nav li:hover img {
  transition: filter 0.3s ease-in-out;
  filter: brightness(1.2); 
}

.navbar-nav li:hover span {
  transition: color 0.3s ease-in-out;
  color: #383838; 
}

.custom-column {
  transition: color 0.3s ease-in-out;
}

.custom-column:hover {
  color: #007bff; 
  opacity: 0.8;  
}

.custom-column:hover img {
  transition: filter 0.3s ease-in-out;
  filter: brightness(1.2); 
}

.custom-column {
    font-family: 'Sen';
    font-size: 16px;
    transition: color 0.3s ease-in-out;
  }

  .custom-column a {
    text-decoration: none;
    color: #000000;
  }

  .custom-column img {
    transition: filter 0.3s ease-in-out;
  }

  .custom-column:hover {
    color: #007bff;
    opacity: 0.8;
  }

  .custom-column:hover img {
    filter: brightness(1.2);
  }

    .custom-link {
    font-family: 'Sen';
    font-size: 16px;
    transition: color 0.1s ease-in-out, opacity 0.1s ease-in-out;
  }

  .custom-link a {
    text-decoration: none;
    color: #000000;
    display: flex;
    align-items: center;
  }

  .custom-link img {
    transition: filter 0.3s ease-in-out;
  }

  .custom-link:hover {
    color: #007bff;
    opacity: 0.5;
  }

  .custom-link:hover img {
    filter: brightness(1.2);
  }

  .carousel-control-prev-icon,
    .carousel-control-next-icon {
      background-color: rgba(1, 183, 196, 0.6 );
      border-radius: 50%; 
      width: 30px;  
      height: 30px; 
      line-height: 30px;  
      font-size: 20px;  
    }